/* Gruvbox color theme (https://github.com/morhetz/gruvbox) */

:root {
  --dark: #282828;
  --dark-red: #cc241d;
  --dark-green: #98971a;
  --dark-yellow: #d79921;
  --dark-blue: #458588;
  --dark-purple: #b16286;
  --dark-aqua: #689d6a;
  --bright-gray: #a89984;
  --dark-gray: #928374;
  --bright-red: #fb4934;
  --bright-green: #b8bb26;
  --bright-yellow: #fabd2f;
  --bright-blue: #83a598;
  --bright-purple: #d3869b;
  --bright-aqua: #8ec07c;
  --bright: #ebdbb2;
}
